.titulo{
	text-decoration: underline;
	color: #191919;
	margin-left: 5em;
	margin-right: 5em;
}

.panel{
	color: white;
	padding-bottom: 6em;
	vertical-align: center;
	text-decoration: none;
	width: 100%;
	margin-top: 3em;
	margin-bottom: 5em;
}


	.pa1:hover{

	box-shadow: 1.9px 1.9px 1.9px 1.9px #5B5B5B;
	}

	.pa2:hover{

	background: #1BE3BA !important;
	box-shadow: 2px 2px 2px 2px #686868;
	}

	.pa3:hover{

	background: #FFE40A !important;
	box-shadow: 2px 2px 2px 2px #686868;
	}

.texto{
	color: #144EB2;
	text-decoration: underline;
}

.text-sel:hover{
	color: #316DA2;
}